language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install: 
  - pip install -r requirements.txt
before_script:
  - pip install python-coveralls
script: 
  - make test
after_success:
  - coveralls
